# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
.vs/

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp

# Dependencies
node_modules/
vendor/

# Build files
dist/
build/

# WordPress local files
wp-config.php

# Archives
*.zip
*.tar.gz

# Sass cache
.sass-cache/

# Composer
composer.lock

# npm
package-lock.json
yarn.lock